body {
    font-family: sans-serif;
}

h1 {
    font-size: 50px;
}

p {
    font-size: 20px;
}

#bgCont {
    /* Positioning and bg */
    position: fixed;
    top: 0px;
    left: 0px;
    background-image: url("bg_tile.png");
    background-size: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100vw;
    overflow-y: auto;
}

#contentCont {
    margin-top: 10px;
    display: block;
    width: 70%;
    background-color: #fff;
   /* background-color: rgba(255,255,255,0.8);*/
    min-height: 50vh;
    text-align: center;
}

@media screen and (max-width: 750px) {
    #contentCont {
        width: 90%;
    }

    .titleAndImage {
        flex-direction: column;
    }
}

@media scree and (max-width: 350px) {
    #bgCont {
        display: block;
    }
}

#marginCont {
    margin: 50px 50px 50px 50px;
}

.titleAndImage {
   display: flex;
   align-items: center;
   justify-content: center; 
}

.socialIcons {
    display: flex;
    margin: auto;
    background-color: #eee;
    width: fit-content;
    height: 40px;
}

.socialIcons > a {
    margin: 10px;
    width: 25px;
    color: black;
    text-decoration: none;
    font-size: 20px;
}

.socialIcons > a:hover {
    color: #447bce;
}